@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
    max-width: 1330px;
    margin: auto;
}
.landing-page-background {
    background-color: #c6dee1 !important;
    background-position: top;
}
