<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Email Verification</title>
</head>
<body>

<p>Hello {{first_name}} {{last_name}},</p>
<p>Thank you for joining OeHMP platform.</p>
<p>We would like to confirm that your account was created successfully.</p>
<p><span>From now on you will be able to:</span></p>
<ul>
    <li>
        <p>Manage your dental history with a functional and concise organization.</p>
    </li>
    <li>
        <p>Risk assessment is calculated by professionals.</p>
    </li>
    <li>
        <p>Real-time access to your oral health care provider. We provide a message board with free and open
            communication.</p>
    </li>
    <li>
        <p>Last but not least, your oral health will no longer stay behind with our alarmistic system.</span></p>
    </li>
</ul>
<p>Best,</p>
<p>The <b>OeHMP - Keep track of what makes you smile</b> team.</p>
</body>
</html>
